
:root{
    --color_1: #A61E36;
    --color_2: #97192F;
    --color_3: #9A1A31;
    --color_4: #9D1B33;
    --color_5: #9E1C34;
    --color_1: #FFFFFF;
    --color_2: #DADBDD;
    --color_3: #DFE0E2;
    --color_4: #DEDFE1;
    --color_5: #DDDEE0;
    --color_1: #EB6178;
    --color_2: #DC5B71;
    --color_3: #E15D74;
    --color_4: #DA5B70;
    --color_5: #DB5C71;
    --color_1: #9E78B3;
    --color_2: #9572AA;
    --color_3: #9471A9;
    --color_4: #9370A8;
    --color_5: #84689B;
    --color_1: #37AAD7;
    --color_2: #36A3CE;
    --color_3: #359FC7;
    --color_4: #36A0C8;
    --color_5: #35A1C8;
    --color_1: #FCFCFC;
    --color_2: #FDFDFD;
    --color_3: #FBFBFB;
    --color_4: #F5F5F5;
    --color_5: #F3F3F3;
    --color_1: #FCFDFF;
    --color_2: #FCFCFE;
    --color_3: #FBFBFD;
    --color_4: #FAFBFD;
    --color_5: #FBFCFE;
    --color_1: #E7E6E2;
    --color_2: #FFFFFF;
    --color_3: #E8E7E3;
    --color_4: #E6E5E1;
    --color_5: #EAE9E5;
    --color_1: #FCFBF7;
    --color_2: #FCFCF9;
    --color_3: #F3F3F1;
    --color_4: #FCFCF8;
    --color_5: #F0EFEB;
    --color_1: #F6B128;
    --color_2: #E7A52B;
    --color_3: #ECA82B;
    --color_4: #E3A22C;
    --color_5: #CF9430;
    --color_1: #C2D114;
    --color_2: #B2C217;
    --color_3: #B6C417;
    --color_4: #B1C118;
    --color_5: #B8C617;
    --color_1: #3BBAB1;
    --color_2: #33B1A6;
    --color_3: #33AFA5;
    --color_4: #32AEA4;
    --color_5: #29A197;
}